{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="section">
		<h1>Veuillez vous inscrire</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		<div class="flex-direction pt-3">
			<div class="py-2">
				{{ form_label(registrationForm.email) }}
			</div>
			<div class="py-2">
				{{ form_widget(registrationForm.email) }}
			</div>
			<div class="error">
				{{ form_errors(registrationForm.email) }}
			</div>
		</div>

		<div class="flex-direction pt-3">
			<div class="py-2">
				{{ form_label(registrationForm.plainPassword) }}
			</div>
			<div class="py-2">
				{{ form_widget(registrationForm.plainPassword) }}
			</div>
			<div class="error">
				{{ form_errors(registrationForm.plainPassword) }}
			</div>
		</div>

		<div class="flex py-3">
			<div>
				{{ form_label(registrationForm.agreeTerms) }}
			</div>
			<div class="px-2">
				{{ form_widget(registrationForm.agreeTerms) }}
			</div>
		</div>

		<button type="submit" class="btn btn-md btn-primary">S'inscrire</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
